button {
    background: Transparent no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-decoration: underline
}
input:required:invalid:not(:placeholder-shown) {
    border-color: red;
}
input:required:valid:not(:placeholder-shown) {
    border-color: green;
}

.container {
    margin: auto;
    padding: 20px 15px 20px 15px;
    min-width: 300px;
    max-width: 600px;
    min-height: 300px;
    border: 2px solid darkolivegreen;
}
.container h3 {
    text-align: center;
    font-style: oblique;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}
.form_element {
    margin: 15px;
    text-align: right;
}
.form_element label {
    width: 40%;
    padding: 5px;
}
.form_element input {
    width: 60%;
    border: 2px solid lightskyblue;
    padding: 5px;
    display: inline-block;
}
.form_element button {
    width: 80%;
    display: block;
    margin: auto;
    font-size: 15px;
}
.result_links {
    margin: auto;
    width: 70%;
    text-align: center;
}
.result_links a {
    width: 50px;
}
.form_result {
    font-size: 14px;
    font-family: Candara, serif ;
    text-align: center;
}
.mistake_message {
    font-size: 14px;
    color: red;
}
.description {
    font-size: 9px;
    font-style: italic;
}
.header {
    padding: 5px;
    display: block;
    min-width: 700px;
    max-width: 1680px;
}
.header_links {
    padding: 5px;
    display: inline-block;
    color: grey;
    width: 10%;
    text-align: center;
    background-color: darkslategrey;
}
.header_links a {
    color: white;
}

